@mixin d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin d-flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


@mixin container-margin {
    width: 80%;
    margin: auto;
}

@mixin button-white {
    width: 140px;
    height: 40px;
    cursor: pointer;
    border: none;
    font-size: 12px;

    i {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid black;
    }
}

@mixin button-orange {
    width: 140px;
    height: 40px;
    cursor: pointer;
    border: none;
    font-size: 12px;
    color: white;

    i {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid white;
    }
}