// COLOR TEMPLATE
// White-palette
$white-first-color: #FFFFFF;
$white-second-color: #FAFAFA;
$white-third-color: #FBF9F9;
// Orange-palette
$orange-first-color: #EB562E;
$orange-second-color: #DC3F57;
$orange-third-color: #DB3E56;
// Gray-palette
$gray-first-color: #f0efef;
$gray-second-color: #BBBBBB;
$gray-third-color: #A6A6A6;
// Black-palette
$black-first-color: #555555;
$black-second-color: #1E1E1E;
$black-third-color: #171515;