// COLOR TEMPLATE
// White-palette
$primary-first-color: #FFFFFF;
$primary-second-color: #FAFAFA;
$primary-third-color: #FBF9F9;
// Orange-palette
$secondary-first-color: #EB562E;
$secondary-second-color: #DC3F57;
$secondary-third-color: #DB3E56;
// Gray-palette
$tertiary-first-color: #CCCCCC;
$tertiary-second-color: #BBBBBB;
$tertiary-third-color: #A6A6A6;
// Black-palette
$quaternary-first-color: #555555;
$quaternary-second-color: #1E1E1E;
$quaternary-third-color: #171515;